{% extends "digipal_text/text_viewer_base.html" %}

{% block viewer-title-extra %}
    -
    {% with item_part.group as group %}
        {% if group %}
          [<a href="{% url 'regions_table' parent_ip_id=group.pk %}">{{ group }}</a>]
        {% else %}
          [<a href="{% url 'regions_table' parent_ip_id=item_part.pk %}">{{ item_part }}</a>]
        {% endif %}
    {% endwith %}
{% endblock %}

{% block extra_js %}
    {{ block.super }}

    <script>
        jQuery(document).ready(function($) {
          // GN: patch for CTRS unsettled regions to appear in the
          // Image pane of the Text Editor.

          var TextViewer = window.TextViewer;

          function ctrs_slugify(text) {
              text = text.trim();

              var ret = '';

              // ... (ellipsis) was used before to represent an empty region
              if (text.search(/^(\.+|∅)$/i) > -1) {
                  ret = '∅';
              } else {
                  ret = TextViewer.slugify(text);
              }

              return ret;
          }

          TextViewer.get_sublocation_from_element = function(element) {
              // returns a sub location array from a html element
              // <span data-dpt='location' data-dpt-loctype="entry">1a1</span>
              // => [['', 'location'], ['loctype', 'entry'], ['@text', '1a1']]

              console.log('get_sublocation_from_element PATCHED')

              var ret = [];
              var $el = $(element).closest('[data-dpt]');
              if ($el.length) {
                  // convert attributes
                  ret = $.map($el[0].attributes, function(val, i) {
                      var name = val.name.replace(/^data-dpt-?/, '');
                      // CTRS - PATCH 1
                      if (name != val.name && name !== 'cat' && name != 'subtype') return [[name, val.value]];
                  });
                  // filter: we don't want ANY element (e.g. clause: ok, exp/abbr: no)
                  if (ret.length > 0) {
                      // CTRS - PATCH 2
                      var accepted_tags = ['seg'];
                      if (accepted_tags.indexOf(ret[0][1]) < 0) {
                          ret = [];
                      }
                  }
                  // add slugified small text content
                  if (ret.length > 0) {
                      var text = ctrs_slugify($el.text());
                      // CTRS - PATCH 3
                      ret.push(['@text', text.substring(0, 20)]);
                  }

                  // find out the occurrence number. e.g. ['@o', '2'] for second occurrence.
                  if (1) {
                      var order = 0;

                      var selectorInfo = TextViewer.getSelectorFromSublocation(ret);
                      $el.parents('.panel-content').find(selectorInfo.selector).each(function() {
                          var $oel = $(this);
                          if (!selectorInfo.text || (ctrs_slugify($oel.text()) == selectorInfo.text)) {
                              order += 1;
                          }
                          if ($oel[0] === $el[0]) return false;
                      });

                      if (order > 1) {
                          ret.push(['@o', '' + order]);
                      }
                  }
              }

              return ret;
          };

          document.addEventListener('onContentLoadedInViewer', function(e) {
            // we scroll the viewer to the element which id is = to url fragment
            var panel = e.detail;
            var href = window.location.href;
            var fragment = href.replace(/^.*#/, '');
            if (fragment != href) {
                var $content = e.detail.$content;
                var $el = $content.find('#'+fragment).first();
                if ($el.length) {
                    var fontSize = $el.css('font-size');
                    var lineHeight = Math.floor(parseFloat(fontSize.replace('px','')) * 1.5);

                    $content.scrollTop(
                        $el.offset().top
                        - $content.offset().top
                        - 2 * lineHeight
                    );

                    if (panel.editingMode != true) {
                        $el.addClass('highlight');
                    }
                } else if(panel.tinymce) {
                    // editing mode, we scroll using tinymce
                    var el = $(panel.tinymce.getBody()).find('#'+fragment).get(0);
                    if (el) {
                        el.scrollIntoView();
                    }
                }
            }
          });

          // Text Viewer button for auxiliary div
          $(window).on('onClickBtnAuxiliary', function(event, editor, definition, utils) {
            let node = editor.selection.getNode();
            while (1) {
              let node_name = node.nodeName.toLowerCase();
              if (node_name == 'body') break;
              if (node_name == 'p') {
                if (node.getAttribute('data-dpt-type')) {
                  node.removeAttribute('data-dpt-type');
                } else {
                  node.setAttribute('data-dpt-type', 'auxiliary');
                }
                utils.afterChange();
                break;
              }
              node = node.parentNode;
            }
          });

        });
    </script>
{% endblock %}
