{% extends "base.html" %}
{% load html_escape mezzanine_tags  %}

{% block meta_title %}{{ ip_group }}{% endblock %}

{% block extra_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{{ STATIC_URL }}ctrs.css"/>
{% endblock %}

{% block main %}

    <h1>{{ ip_group }} - Unsettled regions
        <span>
            - {{ this_type }}s
            <a class="dp-small" href="?type={{ other_type }}">(see {{ other_type }}s)</a>
        </span>
    </h1>

    {% if 0 %}
        <div class="row">
            {% for tc in tcs %}
                <div class="col-sm-2 regions">
                    <div class="heading">
                        <a href="{{ tc.ip.get_absolute_url }}texts/view/">{{ tc.ip.display_label }}</a>
                    </div>
                    {% for region in tc.regions %}
                        <div id="{{ region.id }}" title="{{ region.content }}"><input type="number">{{ region.content }}</div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <div class="row">
        {% if show_numbers %}
            <div class="col-sm-1 regions">
                <div class="heading">
                    &nbsp;
                </div>
                <div class="ed">
                    {% for sn in slots %}
                        <div >{{ sn }}<br></div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        {% for tc in tcs %}
            <div class="col-sm-2 regions">
                <div class="heading">
                    <a href="{{ tc.ip.get_absolute_url }}texts/view/">{{ tc.ip.display_label }}</a>
                </div>
                <div class="ed">
                    {% for region in tc.regions %}
                        <div id="{{ region.id }}" title="{{ region.content }}">{{ region.content }}<br></div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}

{% block extra_js %}
    {{ block.super }}

    <script>
        jQuery(document).ready(function($) {
        });
    </script>
{% endblock %}
