.regions div.heading,
.regions div.heading a {
    height: 8rem;
    background-color: #4c5e69;
    color: white;
    padding: 0.1em;
}

.regions2 div {
    border-bottom: 1px solid grey;
    height: 4rem;
    overflow: hidden;
}

.ed {
}

.ed div {
    border: 1px solid grey;
    margin: 0.1em;
    height: 4rem;
    overflow: hidden;
    display: block;
    padding: 0.1em;
}

.table.table-unsettled thead tr th {
    position: sticky;
    top: 0;
    background-color: #c3ced5;
    border-bottom: 1px solid grey;
    z-index: 5;
}

.table.table-unsettled tr:hover td {
    background-color: lightyellow;
}

.table.table-unsettled tr:target td {
    background-color: lightyellow;
}

.table.table-unsettled tr td {
    position: relative;
}

.line-anchor {
    min-width: 5rem;
}

.line-anchor > span {
    position: absolute;
    /* GN: trick to show selected line below sticky table head */
    top: -15rem;
}

.line-anchor > span:target a {
    font-weight: bold;
    background-color: yellow;
}

.line-anchor a {
    position: absolute;
    top: 15rem;
    padding: 0.5rem;
}

.markup {
    line-height: 2.2rem;
}

.markup .unsettled {
    font-weight: bold;
    /* border-bottom: 1px solid blue; */
    color: #448;
    padding: 0.1rem;
}

ul.form-versions {
  list-style: none;
  padding-left: 1rem;
}

.region-index {
  background-color: lightsteelblue;
}

tr.region-version {
  background-color: #eef;
}

#heatmap {
  height: 30rem;
}
