.regions div.heading,
.regions div.heading a {
    height: 8rem;
    background-color: #4c5e69;
    color: white;
    padding: 0.1em;
}

.regions2 div {
    border-bottom: 1px solid grey;
    height: 4rem;
    overflow: hidden;
}

.ed div {
    border: 1px solid grey;
    margin: 0.1em;
    height: 4rem;
    overflow: hidden;
    display: block;
    padding: 0.1em;
}

.table.table-unsettled thead tr th {
    position: sticky;
    top: 0;
    background-color: #c3ced5;
    border-bottom: 1px solid grey;
    z-index: 5;
}

.table.table-unsettled tr:hover td {
    background-color: lightyellow;
}

.table.table-unsettled tr:target td {
    background-color: lightyellow;
}

.table.table-unsettled tr td {
    position: relative;
}

.line-anchor {
    min-width: 5rem;
}

.line-anchor > span {
    position: absolute;
    /* GN: trick to show selected line below sticky table head */
    top: -15rem;
}

.line-anchor > span:target a {
    font-weight: bold;
    background-color: yellow;
}

.line-anchor a {
    position: absolute;
    top: 15rem;
    padding: 0.5rem;
}

.markup {
    line-height: 2.2rem;
}

.markup .unsettled {
    font-weight: bold;
    /* border-bottom: 1px solid blue; */
    color: #448;
    padding: 0.1rem;
}

ul.form-versions {
  list-style: none;
  padding-left: 1rem;
}

.region-index {
  background-color: lightsteelblue;
}

tr.region-version {
  background-color: #eef;
}

#heatmap {
/*  height: 30rem;*/
    height: 65vh;
}

.settled {
  display: none;
}

/* GF 26/11/2019: Overrides for local purposes */

a {
    color: #3f5564;
}

a:hover {
    color: #212d35;
}

.btn-default {
    border-color: #a7bbc8;
    color: #3f5564;
}

.btn-default:hover {
    background-color: #e6e6e6;
    border-color: #829db0;
    color: #3f5564;
}

#logo {
    color: #3f5564;
}

nav.primary-nav .navbar-toggle {
    background: #324450;
}

.navbar-collapse {
    background: linear-gradient(rgba(63,85,100,0.9),rgba(53,72,84,0.9)) !important;
}

.navbar-default .navbar-nav > li > a:hover {
    background-color: #324450;
    color: #f0f0f0;
}

.nav > li > a:hover {
    background-color: #eee;
}

li.active > a,
li.active > a:hover,
li.active > a:focus {
    color: #f0f0f0;
    background-color: #324450 !important;
}

.nav-tabs > li > a:hover {
    border-color: #a7bbc8 #a7bbc8 #a7bbc8;
}
